﻿
<h2>Top 5 Websites Ranking</h2>

<div ng-app="app" ng-controller="webRankController" class="container">
    <strong class="error">{{ error }}</strong>

    <div class="row">
        <div class="logs-table col-xs-12">
            <form name="myForm">
                <label>Select Date: </label>
                <input type="date" ng-model="selectedDate" />
                <button ng-click="getTopFiveByDate()">Top 5 by Date</button>
                <button ng-click="getTopFiveByMonth()">Top 5 by Month</button>
                <button ng-click="getTopFiveByYear()">Top 5 by Year</button>
                <br />

                <table class="table table-bordered table-hover" style="width:100%">
                    <tr>
                        <th>Date</th>
                        <th>Website</th>
                        <th>Visits</th>
                    </tr>

                    <tr ng-repeat="webRank in WebRankings">
                        <td>{{ webRank.Date | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ webRank.Website }}</td>
                        <td>{{ webRank.Visits }}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>